@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    overflow: hidden;

}
.container{
    display: flex;

    width: 80vw;
}
.container .panel{
    /*background-size: cover;*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    /*width: 80vw;*/

    height: 80vh;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
    color: #fff;

    position: relative;

    flex: 0.5;
    transition: flex 0.7s ease-in;
}
.panel h3{
    font-size: 1.5rem;
    position: absolute;


    opacity: 0;
    left: 20px;
    bottom: 40px;
}
.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
}
@media (max-width: 500px) {
    container{
        width: 100vw;
    }
    .panel:nth-of-type(5),.panel:nth-of-type(6){
        display: none;
    }
}