@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    background-color: #f4f4f4;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    overflow: hidden;
}

.container{
    width: 300px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}
.header{
    background: linear-gradient(
            20deg,
            #0aacf2,
            #f2350a
    );
    color: #fff;
    padding: 30px 20px;
}

.header .text{
    margin: 0;
}
.header .sub_text{
    display: inline-block;
    margin-bottom: 20px;
}
.header .filter{
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    border: 0;
    border-radius: 20px;
    font-family: inherit;
    padding: 10px;
    font-size: 14px;
}
.header .filter:focus{
    outline: 0;
}

.userList{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;

    background-color: #fff;
    max-height: 400px;
}
.userList li{
    display: flex;
    padding: 10px;
}
.userList li:not(:last-of-type){
   border-bottom: 1px solid #eee;
}
.userList li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.userList .userinfo{
    margin-left: 10px;
}
.userinfo h4{
    margin:0 0 10px;
}
.userinfo p{
    font-size: 12px;
}
.userList li.hide{
    display: none;
}
