@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    overflow: hidden;
    transition: transform 0.5s ease-in;
}
body.show-nav{
    transform: translateX(200px);
}
nav{
    height: 100vh;
    width: 200px;
    background: brown;
    position: fixed;
    border-right: 2px solid rgba(200,200,200,1);
    z-index: 100;
    top: 0;
    left: 0;

    transform: translateX(-100%);
}

.logo{
    text-align: center;
    padding: 15px 0;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*text-align: center;*/
}
.ulist{
    list-style: none;
    /*border-bottom: 1px solid black;*/
    margin: 0;
    padding: 0;
    text-align: center;

}
.ulist a{
    color: #fff;
    text-decoration: none;
}
.ulist a:hover{
    text-decoration: underline;
}
.ulist li{

    border-bottom: 2px solid rgba(200,200,200,0.4);
    padding: 20px;
    /*margin: 0;*/
}
.ulist li:first-of-type{
    border-top: 2px solid rgba(200,200,200,0.4);
}
header{
    /*position: absolute;*/
    /*display: flex;*/
    font-size: 130%;
    background: brown;
    text-align: center;
    color: #fff;
    padding: 30px 15px;
}
header .toggle{
    /*font-size: 20px;*/
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    left: 20px;
    top: 20px;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    cursor:pointer;
}
header h1{
    margin: 0;
}
header p{
    margin:30px 0;
}