@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
    box-sizing: border-box;
}
body{
    /*display: flex;*/
    font-family: 'Roboto', sans-serif;
    background:linear-gradient(45deg,rgba(179, 255, 255,0.4),rgba(255, 153, 255,0.7));

    height: 100vh;

    margin: 0;
    overflow: hidden;
    transition: transform 0.6s ease-in;
}
body.show-nav{
    transform: translateX(200px);
}
nav{
    width: 200px;
    height: 100vh;
    background: brown;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;

    transform: translateX(-100%);
}
.logo{
    text-align: center;
    padding: 15px 0px;
}
nav .logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
nav ul{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    /*position: fixed;*/
}
nav ul li{
    padding: 20px;
    border-bottom: 2px solid rgba(200,200,200,0.4);
}
nav ul li:first-of-type{
    border-top: 2px solid rgba(200,200,200,0.4);
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
header{
    padding: 30px 10px;
}
header .toggle{
    position: absolute;
    top: 20px;
    left:20px;
    color: #fff;
    background: rgba(0,0,0,0.4);
    border-radius: 5px;
    padding :3px 7px;
    cursor:pointer;
    /*font-size: 130%;*/
}

.container{
    display: flex;
    /*position: relative;*/
    width: 95vw;
    right: 0;
    margin-left: 25px;
}
.container .panel{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;

    height: 80vh;
    margin: 10px;
    cursor: pointer;

    position: relative;
    color: red;

    flex: 0.5;
    transition: flex 0.7s ease-in;

}
.panel.active{
    flex: 6;
}
.panel h3{
    position: absolute;
    opacity: 0;
    bottom: 20px;
    left: 20px;

    font-size: 1.5rem;
    text-shadow: 10px 0 10px rgba(255,255,255,0.5);
}
.panel.active h3{
    opacity: 1;
}
h1{
    color: red;
}