@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    font-family: 'Mulish', sans-serif;
}
h1{
    text-align: center;
    margin: 50px 0 30px;
}
.faq-container{
    max-width: 600px;
    margin: auto;
}